services:
  backend:
    image: cmsintern01/payroll-backend:latest
    environment:
      PORT: 4000
      NODE_ENV: production
      FRONTEND_URLS: http://hexar.dynns.com:80
      DB_HOST: mysql-cms.alwaysdata.net
      DB_PORT: 3306
      DB_USER: cms
      DB_PASSWORD: 706@cmsH
      DB_NAME: cms_payroll_db
      DB_CONNECTION_LIMIT: 10
      JWT_SECRET: super_secret_change_me
      JWT_EXPIRES_IN: 8h
      MAX_FILE_SIZE_MB: 10
      UPLOAD_DIR: /app/src/uploads
      LOG_DIR: /app/logs
    volumes:
      - ./uploads:/app/src/uploads
      - ./logs:/app/logs
    ports:
      - "4000:4000"
    networks:
      - payroll_net
    restart: unless-stopped

  frontend:
    image: cmsintern01/payroll-frontend:latest
    environment:
      VITE_API_URL: http://backend:4000
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - payroll_net
    restart: unless-stopped

networks:
  payroll_net:
    driver: bridge
