services:
  backend:
    build: ./Payroll_management_backend
    environment:
      - PORT=4000
      - NODE_ENV=development
      - FRONTEND_URLS=http://localhost,http://hexar.dynns.com:3000
      - DB_HOST=mysql-cms.alwaysdata.net
      - DB_PORT=3306
      - DB_USER=cms
      - DB_PASSWORD=706@cmsH
      - DB_NAME=cms_payroll_db
      - DB_CONNECTION_LIMIT=10
      - JWT_SECRET=super_secret_change_me
      - JWT_EXPIRES_IN=8h
      - UPLOAD_DIR=src/uploads
      - MAX_FILE_SIZE_MB=10
      - LOG_DIR=./logs
    ports:
      - "4000:4000"
    volumes:
      - ./Payroll_management_backend/src/uploads:/app/src/uploads
      - ./Payroll_management_backend/logs:/app/logs
    networks:
      - payroll_net
    restart: unless-stopped

  frontend:
    build: ./payroll_management_frontend
    environment:
      VITE_API_URL: http://backend
    ports:
      - "80:80"
    volumes:
      - ./payroll_management_frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - payroll_net
    restart: unless-stopped

volumes:
  mysql_data:

networks:
  payroll_net:
